html {
  width: 100%;
padding: 0;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
background: url(http://i.imgur.com/GGoHfbW.jpg);
background-size: 100%;
background-attachment: fixed;
background-repeat: no-repeat;

}

body {
background-color: transparent;
font-family: lemonmilkregular;
}

@font-face {
  font-family: 'goboldregular';
  src: url('../fonts/gobold_regular-webfont.woff2') format('woff2'),
       url('../fonts/gobold_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratregular';
  src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
       url('../fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lemonmilkregular';
  src: url('../fonts/lemonmilk-webfont.woff2') format('woff2'),
       url('../fonts/lemonmilk-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 {
font-size: 40px;
color: #101010;
font-family: lemonmilkregular;
letter-spacing: 10px;
margin-top: 90px;
margin-bottom: 20px;
text-align: center;
}



img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}