html {
	width: 100%;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: url(../images/backgrounds/dash-bg.jpg);
	background-size: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

body {
	background-color: transparent;
	font-family: montserratregular;
}

@font-face {
    font-family: 'goboldregular';
    src: url('../fonts/gobold_regular-webfont.woff2') format('woff2'),
         url('../fonts/gobold_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lemonmilkregular';
    src: url('../fonts/lemonmilk-webfont.woff2') format('woff2'),
         url('../fonts/lemonmilk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.jumbotron {
	background-color: transparent;
}

.page-header {
	color: white !important;
	border-color: transparent !important;
}

#welcome {
	margin-top: 20%;
	text-align: center;
}

#welcome h3 {
	font-family: montserratregular;
	letter-spacing: 3pt;
	padding: 0;
	margin: 0;
}

#welcome h1 {
	font-family: lemonmilkregular;
	padding: 0;
	margin: 0;
}

#quote {
	text-align: center;
	font-style: italic;
	font-size: 10pt;
	color: white;
	margin-top: 150px;
	padding-left: 250px; 
	padding-right: 250px; 
}

#author {
	margin: 10px !important;
	text-align: right;
	font-size: 10pt;
	color: white;
	margin-top: 150px;
	padding-left: 250px; 
	padding-right: 250px; 
}

/*-------NAVBAR SHIT----------*/

#top-navbar {
	background-color: transparent !important;
	border-color: transparent !important;
}

.navbar-fixed-top .navbar-nav > li > a:hover, .navbar-fixed-top .navbar-nav > li > a:focus {
    background-color: #BA002c;
    color: white;
}

.navbar-fixed-top .navbar-nav > li > a {
	font-family: montserratregular;
	color: white;
	font-size: 10pt;
	/*letter-spacing: 2pt;*/
}

.navbar-fixed-bottom .navbar-nav > li > a:hover, .navbar-fixed-top .navbar-nav > li > a:focus {
    background-color: transparent;
    color: white;
}

.navbar-fixed-bottom .navbar-nav > li > a {
	font-family: montserratregular;
	font-size: 8pt;
	font-weight: bold;
	color: darkgray;
	padding-top: 5px !important;
    padding-bottom: 5px !important;
	height: 30px !important;
}

.navbar {
	min-height: 30px !important;
}

.navbar-fixed-bottom {
	background-color: #BA002c;
}

.dropdown-menu > li > a {
	font-family: montserratregular;
	letter-spacing: 2pt;
	font-size: 8pt;
	color: black;
}

.redfont{
	color: red;
}
.gold {
	color: gold;
}

.red {
	color: #BA002c;
}

.white {
	color: white;
}

/*-------END OF NAVBAR SHIT---------*/

.slick-item img {
	margin: auto !important;
}

.slick-item p {
	margin-left: 40px;
	font-size: 10pt;
	color: white;
}
