body {
    font-family: monospace;
}

#forums-cntnr {
    position: relative;
    margin-top: 100px;
}

.title-card {
    list-style: none;
    padding: 10px;
    position: relative;
    background: #f2f2f2;
}

.card-partition {
    display: flex;    
}

.forum-title {
    width: 50%;
}

.forum-desc {
    width: 50%;
}

#author {
    background: #67cf00;
    color: #fff;
    font-size: 12px;
    padding: 7px;
    border-radius: 5px;
    position: relative;
    float: right;
}

#tag {
    margin-left: 5px;
    background: #da810d;
    color: #fff;
    font-size: 12px;
    padding: 7px;
    border-radius: 5px;
    position: relative;
    float: right;
}

#date-created {
    margin-left: 5px;
    background: #dad70d;
    color: #fff;
    font-size: 12px;
    padding: 7px;
    border-radius: 5px;
    position: relative;
    float: right;
}

.titles-link:hover {
    font-size: 17px;    
    text-decoration: none;
}

.titles-link:visited {
    text-decoration: none;
}

#titles {
    padding-left: unset;
}

#forum-tag-form {
    width: 100%;
    display: flex;
}

#forum-form {
    width: 100%;
    margin-right: unset;
    padding: 10px;
    text-align: center;
    background: #f3f3f2;
    padding-top: 20px;
}

#forum-area {
    width: 75%;
}

#forum-btn {
    background-color: #00AEFF;
    color: #fff;
    border-color: #00AEFF;
    border-radius: 5px;
    position: relative;
}

#forum-btn:hover {
    background-color: #fff;
    color: #00AEFF;
    border-color: #00AEFF;
    border-radius: 5px;
    position: relative;
}

#search {
    text-align: -webkit-right;
    margin-bottom: 10px;
}