html {
	width: 100%;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url(http://i.imgur.com/G0Dguwk.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	-moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	
}

body {
	background-color: transparent;
	font-family: montserratregular;
}

@font-face {
    font-family: 'goboldregular';
    src: url('../fonts/gobold_regular-webfont.woff2') format('woff2'),
         url('../fonts/gobold_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.navbar-brand {
	padding: 0px 0px !important;
	padding-top: 10px !important;
}

.jumbotron {
	background-color: transparent;
}

.page-header {
	font-family: goboldregular;
	color: white !important;
	border-color: transparent !important;
	letter-spacing: 5pt;
	line-height: 120%;
}

#top-navbar {
	background-color: transparent !important;
	border-color: transparent !important;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-fixed-top .navbar-nav > li > a:focus {
    background-color: #BA002c;
    color: white;
}

.mons {
	font-family: monsterratregular;
	letter-spacing: 5px;
}

.gob {
	font-family: goboldregular;
	letter-spacing: 5px;
}

.navbar-default .navbar-nav > li > a {
	margin-right: 10px;
	font-family: goboldregular;
	color: white;
	font-size: 15pt;
	letter-spacing: 2pt;
}

.navbar-fixed-bottom .navbar-nav > li > a:hover, .navbar-fixed-top .navbar-nav > li > a:focus {
    background-color: transparent;
    color: white;
}

.navbar-fixed-bottom .navbar-nav > li > a {
	margin-right: 10px;
	font-family: montserratregular;
	font-size: 8pt;
	font-weight: bold;
	color: darkgray;
}

.navbar-fixed-bottom {
	background-color: #BA002c;
}

.red {
	color: #BA002c;
}

.white {
	color: white;
}

#owl-demo .item{
  background: #3fbf79;
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
  text-align: center;
}
//use styles below to disable ugly selection
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.gold {
	color: gold;
}

.redfont{
	color: red;
}

.bluefont {
	color: #00ffe9;
}

.tablePos {
	position: fixed;
	top: 17%;
	left: 20%;
}