html {
	width: 100%;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url(http://i.imgur.com/Rhri8TK.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	-moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
	background-color: transparent;
	font-family: montserratregular;
}

@font-face {
    font-family: 'goboldregular';
    src: url('../fonts/gobold_regular-webfont.woff2') format('woff2'),
         url('../fonts/gobold_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h4 {
	color: white;
}

.modalSize {
	width: 500px;
}

.bg {
	background-image: url(http://i.imgur.com/96b2zUb.jpg);
}

.gap {
	margin-bottom: 10px;
}

.gobolds {
	font-family: goboldregular;
	font-size: 15px;
}

.pac{
	position: absolute;
	top: 41.5%;
	left: 58%;
}

.ghost{
	position: absolute;
	top: 42%;
	left: 62%;
}

.logo{
	position: absolute;
	top: 15%;
	left: 64%;
}

.profBody{
	position: absolute;
	top: 15%;
	left:10%;
	width: 40%;
}

.trans{
	background: none;
}

.redbg{
	background: red;
}

.goldbg{
	background: gold;
}

.cyan {
	color: cyan;
}
.blue {
	color: #233f59;
}




#top-navbar {
	background-color: transparent !important;
	border-color: transparent !important;
}

.navbar-fixed-top .navbar-nav > li > a:hover, .navbar-fixed-top .navbar-nav > li > a:focus {
    background-color: #BA002c;
    color: white;
}

.navbar-fixed-top .navbar-nav > li > a {
	font-family: montserratregular;
	color: white;
	font-size: 10pt;
	/*letter-spacing: 2pt;*/
}

.navbar-fixed-bottom .navbar-nav > li > a:hover, .navbar-fixed-top .navbar-nav > li > a:focus {
    background-color: transparent;
    color: white;
}

.navbar-fixed-bottom .navbar-nav > li > a {
	font-family: montserratregular;
	font-size: 8pt;
	font-weight: bold;
	color: darkgray;
	padding-top: 5px !important;
    padding-bottom: 5px !important;
	height: 30px !important;
}

.navbar {
	min-height: 30px !important;
}

.navbar-fixed-bottom {
	background-color: #BA002c;
}

.dropdown-menu > li > a {
	font-family: montserratregular;
	letter-spacing: 2pt;
	font-size: 8pt;
	color: black;
}

.redfont{
	color: red;
}
.gold {
	color: gold;
}

.red {
	color: #BA002c;
}

.white {
	color: white;
}

#owl-demo .item{
  background: #3fbf79;
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
  text-align: center;
}
//use styles below to disable ugly selection
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}