html {
	width: 100%;
	padding: 0;
	background-color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: white;
	font-family: montserratregular;
}

@font-face {
    font-family: 'goboldregular';
    src: url('../fonts/gobold_regular-webfont.woff2') format('woff2'),
         url('../fonts/gobold_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.navbar-brand {
	/*padding: 0px 0px !important;*/
	/*padding-top: 10px !important;*/
	color: #ff8c24;
}

.jumbotron {
	background-color: transparent;
}

.page-header {
	margin-top: 5%;
	font-family: montserratregular;
	color: #233D4E !important;
	border-color: transparent !important;
	/*letter-spacing: 5pt;*/
	line-height: 120%;
}

#featured {
	margin-top: 5%;
	font-family: montserratregular;
	color: white !important;
	border-color: transparent !important;
	/*letter-spacing: 5pt;*/
	line-height: 120%;
}

.slick-item img {
	margin: auto !important;
}

.class {
	margin-top: 150px;
}

.videos {
	background-color: #CCCCCC !important;
	background: url(http://i.imgur.com/kQ3naS0.jpg);
	background-repeat: no-repeat;
}